name: Push to DockerHub

on:
  workflow_dispatch:
  push:
    tags: ["v*"]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ephraimsiegfried/gachix
          tags: |
            type=sha,format=long
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          $(nix build --print-out-paths .#dockerImage) | docker load

      - name: Push to DockerHub
        run: |
          nixTag="$(nix eval --raw .#dockerImage.imageTag)"
          localImage="gachix:$nixTag"
          for tag in $TAGS_TO_PUSH; do
            docker tag "$localImage" "$tag"
            docker push "$tag"
          done
        env:
          TAGS_TO_PUSH: ${{ steps.meta.outputs.tags }}
